.PizzaGrid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 75vw;
    height: 100vh;
}

.Card {
    margin: 20px;
}

@media only screen and (max-width: 600px) {
    .PizzaGrid {
        display: flex;
        flex-direction: wrap;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    .Card {
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  }

