.NotificationPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NotificationIcon {
    margin: 50px
}

@media only screen and (max-width: 600px) {
    .NotificationIcon {
        margin: 0
    }
  }