.NavBarCartButtons {
    margin-left: auto;
}

.CartButton {
    margin-left: auto;
}

.NavBar {
    width: 100%;
}

.NavBarContent {

    padding-left: 40px;
    padding-right: 40px;

}

.NavBarBrand {
    width: 38px;
    height: 38px;
    margin: 10px;
}
